:root {
  background: url('https://wallpapercave.com/wp/wp2595108.png') center/cover
    fixed;
}

@font-face {
  font-family: 'RetroGaming';
  src: url('/fonts/RetroGaming.ttf') format('truetype');
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 100%;
}
